/packages
/GdNet.Integrations.DropzoneMvc/obj
/GdNet.Integrations.DropzoneMvc/bin
/NuGet.GdNet.Integrations.DropzoneMvc/obj
/NuGet.GdNet.Integrations.DropzoneMvc/bin
/*.suo
/NuGet.GdNet.Integrations.DropzoneMvc/*.user
