/packages
/GdNet.Integrations.DropzoneMvc/obj
/GdNet.Integrations.DropzoneMvc/bin
/NuGet.GdNet.Integrations.DropzoneMvc/obj
/NuGet.GdNet.Integrations.DropzoneMvc/bin
/*.suo
/NuGet.GdNet.Integrations.DropzoneMvc/*.user
*.user
/DropzoneMvcDemo/bin
/DropzoneMvcDemo/obj
/.vs/DropzoneMvc/FileContentIndex
*.config
/DropzoneV4MvcDemo/App_Data/TempFiles
/DropzoneV4MvcDemo/bin
/DropzoneV4MvcDemo/obj/Debug
/DropzoneV5DemoAspNetMvc/App_Data
/DropzoneV5DemoAspNetMvc/bin
/FileUploadHandler/obj/Debug
/DropzoneV5WithAspNetCore/obj
/.vs/DropzoneMvc/v17
/DropzoneV5WithAspNetCore/bin/Debug/net6.0
*.cache
/FileUploadHandler/bin
/FileUploadHandlerV6/obj
/FileUploadHandlerV6/bin/Debug/net6.0
