@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="//unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="//unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Upload Files with DropzoneJS & ASP.NET Core Razor Pages app</a>.</p>
</div>

<div class="row">
    <h3>Sample 1 - Auto upload after files are selected</h3>
    <small>Max file size: 2MB, max nb of files: 5</small>
    <br />
    <br />
    <div class="col">
        <form id="my-dropzone" action="/FilesHandler" class="dropzone" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
    </div>
</div>
<br />
<br />

<div class="row">
    <div class="row">
        <div class="col-7">
            <h3>Sample 2 - Manual upload after clicked the button</h3>
            <small>Max file size: 5MB, max nb of files: 5</small>
        </div>
        <div class="col-5">
            <button type="button" class="btn btn-primary" id="act-manual-upload">
                Upload Now
            </button>
        </div>
    </div>
    <br />
    <br />
    <div class="col">
        <form id="my-dropzone-manual" action="/FilesHandler" class="dropzone" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
    </div>
</div>


<script>
    Dropzone.options.myDropzone = {
        uploadMultiple: true,
        addRemoveLinks: true,
        maxFilesize: 5,
        maxFiles: 5,
        headers: {
            'X-DZ-ComponentId': '@Guid.NewGuid()'
        }
    };

    Dropzone.options.myDropzoneManual = {
        autoProcessQueue: false,
        uploadMultiple: true,
        addRemoveLinks: true,
        maxFilesize: 5,
        maxFiles: 5,
        parallelUploads: 5,
        headers: {
            'X-DZ-ComponentId': '@Guid.NewGuid()'
        },
        init: function () {
            var myDropzone = this;
            document.querySelector("#act-manual-upload").onclick = function () {
                myDropzone.processQueue();
            };
        }
    };
</script>